body {
    background-color: DarkCyan;
}

hr {
    border-style: none;
    border-top-style: dotted;
    background-color: DarkCyan;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color:#66BFBF;
}
